<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1>

        </h1>
        <h2>GET LINK DONE,</h2>

        <hr>
        <a href="<%=link128%>">LINK 128</a>
        <a href="<%=link320%>">LINK 320</a>
        <a href="<%=lossless%>">LOSSLESS</a>
        <div id="player1" class="aplayer"></div>
        <p></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>

    <script>
        var ap1 = new APlayer({
            element: document.getElementById('player1'),
            narrow: false,
            autoplay: true,
            showlrc: false,
            mutex: true,
            theme: '#e6d0b2',
            preload: 'metadata',
            mode: 'circulation',
            music: {
                title: "<%=name%>",
                author: "<%=artist%>",
                url: "<%=link320%>",
                pic: "<%=cover%>"
            }
        });

    </script>
</body>

</html>